# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.env.*
!.env.example

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

